.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

# PDT-specific
.buildpath
.project
*.bak

.settings/

user_guide/